* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f3f4f6;
}

/* Container */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Card */
.card {
  width: 350px;
  height: 420px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* Top */
.card-top {
  height: 110px;
  background: #2563eb;
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1e40af;
  position: absolute;
  bottom: -45px;
}

/* Center */
.card-center {
  padding: 60px 20px 20px;
  text-align: center;

}

.card-center h1 {
  font-size: 20px;
  color: #1f2937;
  margin-bottom: 10px;
}

.role {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;

}

.tech {
  font-size: 12px;
  color: #9ca3af;
  margin-bottom: 10px;

}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.social-icons i {
  font-size: 20px;
  color: #374151;
  transition: 0.3s;
}

.social-icons i:hover {
  color: black;
}

/* Button */
.msg-btn {
  margin-top: 15px;
  background: #2563eb;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.msg-btn:hover {
  background: #1e40af;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Bottom */
.card-bottom {
  border-top: 1px solid #e5e7eb;
  padding: 15px 20px;
  font-size: 12px;
  color: #4b5563;
}

.card-bottom a {
  text-decoration: none;
  color: inherit;
}

.card-bottom a:hover {
  color: #2563eb;
}